.button {
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button--color--white {
  background: #fff;
  color: #8F00FF;
  border: 1px solid #8F00FF;
}

.button--color--white:hover {
  background: #8F00FF;
  color: #fff;
  transition: .5s;
}

.button--color--white {
  box-sizing: border-box;
  padding: 17px 29px;
  transition: .5s;
}

.button__story:hover {
  background-color: #DA0100;
  transition: .5s;
}

.button--service {
  padding: 17px 38px;
  background-color: #F2F2F2;
}

.button--color--grey {
  background: #8E8E8E;
  padding: 19px 45px;
}

.button--color--grey:hover {
  background: #2B2B2B;
  transition: .5s;
}

.button--color--violet {
  padding: 18px 40px;
}

.button--color--violet:hover {
  background: #741BBA;
  transition: .5s;
}

.form__button:not(:first-child) {
  margin-left: 17px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}


.form__button:last-child {
  margin-right: 0;
}

.button--color--welcome {
  padding: 18px 58px;
}

.button--color--opacity {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0);
  padding: 16px 39px;
}
